# publish
#User files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/


# Visual Studio 2015/2017 cache/options directory
.vs/


# proyecto Test

UnitTest/bin
UnitTest/obj

# proyecto Security

Security/bin
Security/obj

# proyecto Aplicacion

Aplication/bin
Aplication/obj

# proyecto Infraestructura

Infraestructure/bin
Infraestructure/obj

# proyecto Middleware


Middleware/bin
Middleware/obj
/track3-api-reportes-core/Logs/20230602
/track3-api-reportes-core/Logs/20230601/Reportes20230601.txt
/track3-api-reportes-core/Logs/20230606/Reportes20230606.txt
